mixin template(id, title, direction)
  li.home__item(class=`home__item--${id}`)
    a.home__link(href=`/case/${id}`)
      span.home__link__wrapper=title
        img.home__link__media(alt=`${title} Project Preview` data-direction=direction data-src=`/projects/${id}.jpg` data-src-webp=`/projects/${id}.webp`)

section.home
  .home__background
    .home__background__top
    .home__background__bottom

  .home__wrapper
    ul.home__list
      +template('umcu', 'UNIV MICHIGAN CREDIT UNION', 'left')
      +template('true-food-kitchen', 'TRUE FOOD KITCHEN', 'left')
      +template('summit-brands', 'SUMMIT BRANDS', 'right')
      +template('peggy-gou', 'LUNAZUL', 'left')
      +template('isabel-moranta', 'HERSHEYS', 'left')
      +template('floema', 'DEEP EDDY', 'left')
      +template('garoa-skincare', 'ENDANGERED SPECIES CHOCOLATE', 'right')
      +template('design-embraced', 'JOHN FRIEDA', 'right')
      +template('kacper-chlebowicz', 'ADMIRAL NELSON', 'left')
      +template('trolli', 'U-PULL & PAY', 'right')
      +template('adventure-time', 'BEACON', 'left')
      +template('studio-maertens', 'MENTOS', 'left')
      +template('inbound', 'UNIV. OF CINCINNATI', 'left')
      +template('redis', 'HEAVEN HILL', 'left')
